<%- include("partials/header") %>
<div class="container container-fluid text-center p-2" id="hospcontainer">
    <div class="row justify-content-center">
        <h3 class="p-2" id="admith3"><%= user.name %></h3>
        <div class="col-12">
            <table class="table table-striped table-dark p-2" id="hosptable">
                <tr>
                    <th>Patient ID </th>
                    <th>Type of bed</th>
                    <th>Admit</th>
                </tr>
                <% patients.forEach((patients)=>{ %>
                <tr>
                    <td><a href="/view/<%= patients._id%>"><%= patients._id%></a></td>
                    <td><%= patients.typeofbedreq%></td>
                    <td>
                        <form action="/admit/<%= patients._id%>" method="post">
                            <input class="btn btn-outline-success btn-sm rounded-pill p-2" type="submit" value="Admit">
                        </form>
                    </td>
                    </tr>
                <% }) %>
            </table>
        </div>
        <div class="p-2 text-center">
            <a class="btn btn-outline-warning rounded-pill p-2" href="/home">Home</a>
        </div>
        
    </div>
</div>
<%- include("partials/footer") %>