<%- include("partials/header") %>
<div class="container container-fluid text-center p-2" id="hospcontainer">
  <div class="row justify-content-center align-items-center p-2">
    <h3 class="p-2" id="admith3"><%= user.name %></h3>
    <div class="col-12">
      <table class="table table-striped table-dark p-2" id="hosptable">
        <tr>
          <th>Patient ID</th>
          <th>Type of bed</th>
          <th>Status</th>
        </tr>
        <% patients.forEach((patients)=>{ %>
        <tr>
          <td><a href="/view/<%= patients._id%>"><%= patients._id%></a></td>
          <td><%= patients.typeofbedreq%></td>
          <td>
            <form
              action="/discharge/<%= patients._id%>/Discharged"
              method="post"
              id="viewpatientform"
            >
              <input
                class="btn btn-outline-success btn-sm rounded-pill p-1 m-1"
                type="submit"
                value="Discharge"
              />
            </form>
            <form
              action="/discharge/<%= patients._id%>/Died"
              method="post"
              id="viewpatientform"
            >
              <input
                class="btn btn-outline-danger btn-sm rounded-pill p-1 m-1"
                type="submit"
                value="Died"
              />
            </form>
          </td>
        </tr>
        <% }) %>
      </table>
    </div>
    <div class="p-2 text-center">
      <a class="btn btn-outline-warning rounded-pill p-2" href="/home">Home</a>
    </div>
  </div>
</div>
<%- include("partials/footer") %>
